body {
    margin: 10px;
    background: #002240;
}
.grid {
}
.row {
    display: flex;
    justify-content: center;
}
.cell {
    width: 6rem;
    height: 6rem;
    margin: 10px;

    color: #002240;
    background: #007ae7;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    -moz-user-select: none;

    font: 4rem/1 sans-serif;
    font-weight: bold;
    cursor: pointer;
}
